html,body{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}


#demo{
  height: 100%;
  width: 100%;
}
#contact-form{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background: linear-gradient(to left,  #4361c2, #4fa49a 50%, #9dc66b 95%);
}

input[type="text"]{
  color: black;
  font-size: 20px;
  width: 500px;
  height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 2px black;
  border-radius: 20px;
  font-weight: bold;
}

form{
  font-family: 'arial';
  font-size: 20px;
  color: white;
}

textarea[name="cf_message"]{
  color: black;
  font-family: 'arial';
  font-size: 17px;
  font-weight: bold;
  width: 500px;
  height: 170px;
  border: solid 2px black;
  border-radius: 20px;
  margin-bottom: 15px;
}

input[type="submit"]{
  color: black;
  background-color: white;
  font-family: 'arial';
  font-size: 30px;
  border: solid 2px black;
  border-radius: 20px;
  margin-right: 30px;
}

input[type="submit"]:hover{
  background: linear-gradient(to left,  #4361c2, #4fa49a 50%, #9dc66b 95%);
  color: white;
  border: solid 2px black;
}


input[type="reset"]{
  color: black;
  background-color: white;
  font-family: 'arial';
  font-size: 30px;
  border: solid 2px black;
  border-radius: 20px;
}

input[type="reset"]:hover{
  background: linear-gradient(to left,  #4361c2, #4fa49a 50%, #9dc66b 95%);
  color: white;
  border: solid 2px black;
}


#demo-online{
  height: 15%;
  width: 100%;
}
#footer{
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-color: white;
}

p.footer{
  color: black;
  font-family: arial;
  font-size: 25px;
  opacity: 0.8;
  font-weight: bold;
  cursor: default;
}

a.footer{
  color: #4fa49a;
  font-family: 'arial';
  text-decoration: none;
}

a.footer:hover{
  text-decoration: underline;
  text-decoration-style: dotted;
}
